.cryptobot-chat-system .cryptobot-chat {
  overflow-wrap: break-word;
  font-family: var(--title-and-headline-title-24-font-family, 'Outfit');
  font-weight: var(--title-and-headline-title-24-font-weight, 700);
  font-size: var(--title-and-headline-title-24-font-size, 24px);
  color: #FFFFFF;
}
.cryptobot-chat-system .logo {
  margin: 5px 0 19px 0;
  display: flex;
  box-sizing: border-box;
}
.cryptobot-chat-system .image-1773 {
  background: url('assets/images/Image1773.png');
  width: 96px;
  height: 54px;
}
.cryptobot-chat-system .about-us {
  overflow-wrap: break-word;
  font-family: var(--title-and-headline-subheadline-14-font-family, 'Outfit');
  font-weight: var(--title-and-headline-subheadline-14-font-weight, 400);
  font-size: var(--title-and-headline-subheadline-14-font-size, 14px);
  color: var(--text-and-background-white-00, #FFFFFF);
}
.cryptobot-chat-system .frame-13983 {
  margin-bottom: 1px;
  display: flex;
  box-sizing: border-box;
}
.cryptobot-chat-system .system {
  overflow-wrap: break-word;
  font-family: var(--title-and-headline-semi-subheadline-15-font-family, 'Outfit');
  font-weight: var(--title-and-headline-semi-subheadline-15-font-weight, 600);
  font-size: var(--title-and-headline-semi-subheadline-15-font-size, 15px);
  color: var(--alter-color-teal-2, #64FFDA);
}
.cryptobot-chat-system .frame-13984 {
  display: flex;
  box-sizing: border-box;
}
.cryptobot-chat-system .about-us-1 {
  overflow-wrap: break-word;
  font-family: var(--title-and-headline-subheadline-14-font-family, 'Outfit');
  font-weight: var(--title-and-headline-subheadline-14-font-weight, 400);
  font-size: var(--title-and-headline-subheadline-14-font-size, 14px);
  color: var(--text-and-background-white-00, #FFFFFF);
}
.cryptobot-chat-system .frame-13981 {
  margin-bottom: 1px;
  display: flex;
  box-sizing: border-box;
}
.cryptobot-chat-system .main-menu {
  margin: 13px 0 22px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 262px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .navbar {
  margin: 0 10.2px 51px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  box-sizing: border-box;
}
.cryptobot-chat-system-1-sub14 {
  font-family: 'Outfit';
  font-weight: 600;
  font-size: 72px;
  line-height: 1.333;
  text-transform: capitalize;
  color: var(--alter-color-teal-2, #64FFDA);
}
.cryptobot-chat-system .cryptobot-chat-system-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-title-72-font-family, 'Outfit');
  font-weight: var(--web-styles-web-title-72-font-weight, 600);
  font-size: var(--web-styles-web-title-72-font-size, 72px);
  line-height: var(--web-styles-web-title-72-line-height, 1.111);
  text-transform: var(--web-styles-web-title-72-text-transform, capitalize);
  color: var(--text-and-background-white-00, #FFFFFF);
}
.cryptobot-chat-system-1-sub11 {
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  text-transform: capitalize;
}
.cryptobot-chat-system .rectangle-6986 {
  background: rgba(87, 205, 255, 0.2);
  position: absolute;
  left: 50%;
  bottom: 4px;
  translate: -50% 0;
  width: 238px;
  height: 2px;
}
.cryptobot-chat-system .frame-13892 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  align-self: flex-start;
  padding-right: 1px;
  box-sizing: border-box;
}
.cryptobot-chat-system .our-automated-trading-system-allows-you-to-grow-your-portfolio-effortlessly-by-selecting-astrategy-customizing-your-settings-activating-the-bot-to-trade-on-your-behalf-and-continuously-optimizing-performance-to-ensure-maximum-returns {
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-14-font-weight, 400);
  font-size: var(--web-styles-web-caption-14-font-size, 14px);
  color: var(--text-and-background-white-01, #F5F5F5);
}
.cryptobot-chat-system .frame-13903 {
  margin: 0 0 1106px 600.4px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .rectangle-70306 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .bot-activation {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629529 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  margin-bottom: 5px;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .arrow-16 {
  margin-bottom: 5px;
  width: 42px;
  height: 0px;
}
.cryptobot-chat-system .rectangle-70307 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .bot-analyzes-market-data-and-executes-trades {
  position: absolute;
  left: 50%;
  bottom: 14px;
  translate: -50% 0;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629530 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  margin-bottom: 5px;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .arrow-17 {
  margin-bottom: 5px;
  width: 42px;
  height: 0px;
}
.cryptobot-chat-system .rectangle-70308 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .monitor-performance-on-dashboard {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629531 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .frame-629537 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 213px;
  box-sizing: border-box;
}
.cryptobot-chat-system .rectangle-70309 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .adjust-strategy-or-settings {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629532 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  margin: 137px 0;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .container-2 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 879px;
  box-sizing: border-box;
}
.cryptobot-chat-system .arrow-31 {
  margin: 0 7.3px 313.1px 0;
  width: 192.7px;
  height: 131.9px;
}
.cryptobot-chat-system .vector-59 {
  position: absolute;
  left: 50%;
  top: 48px;
  translate: -50% 0;
  width: 234px;
  height: 117px;
}
.cryptobot-chat-system .container-8 {
  position: relative;
  margin: 0 0 11px 24px;
  width: 47px;
  height: 48px;
}
.cryptobot-chat-system .performance-check {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .group-629454 {
  position: relative;
  margin: 89px 110px 191px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 68px;
  width: 234px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .rectangle-703010 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .bot-continues-strategy {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629533 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  margin-bottom: 5px;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .arrow-18 {
  margin-bottom: 5px;
  width: 42px;
  height: 0px;
}
.cryptobot-chat-system .rectangle-703011 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .continuous-portfolio-growth {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629534 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .frame-629538 {
  margin-top: 223px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 213px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .container {
  display: flex;
  flex-direction: row;
  width: 757px;
  box-sizing: border-box;
}
.cryptobot-chat-system .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 879px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .container-7 {
  position: absolute;
  top: 210.3px;
  right: 84.4px;
  width: 219.6px;
  height: 313.1px;
}
.cryptobot-chat-system .group-629455 {
  position: relative;
  margin: 0 1px 118px 0;
  display: flex;
  width: 879px;
  box-sizing: border-box;
}
.cryptobot-chat-system .follow-us {
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-button-bold-18-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-button-bold-18-font-weight, 700);
  font-size: var(--web-styles-web-button-bold-18-font-size, 18px);
  color: #FFFFFF;
}
.cryptobot-chat-system .button {
  border-radius: 20px;
  background: var(--alter-color-teal-4, #00BFA5);
  margin: 2px 0px 2px 0;
  display: flex;
  padding: 17.5px 0;
  width: 180px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .sketch-annotation-element-stroke-line-arrow-spiral-up {
  transform: rotate(115.354deg);
  width: 48px;
  height: 48px;
}
.cryptobot-chat-system .section-heading {
  margin: 0 0 37.2px 65px;
  display: flex;
  flex-direction: row;
  width: 1200px;
  box-sizing: border-box;
}
.cryptobot-chat-system .connect-us {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--title-and-headline-large-title-32-font-family, 'Outfit');
  font-weight: var(--title-and-headline-large-title-32-font-weight, 700);
  font-size: var(--title-and-headline-large-title-32-font-size, 32px);
  color: #52849F;
}
.cryptobot-chat-system .we-will-answer-all-your-questions {
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-content-16-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-content-16-font-weight, 400);
  font-size: var(--web-styles-web-content-16-font-size, 16px);
  color: #52849F;
}
.cryptobot-chat-system .card {
  display: flex;
  box-sizing: border-box;
}
.cryptobot-chat-system .frame-13976 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.cryptobot-chat-system .twiiter {
  width: 22px;
  height: 22px;
}
.cryptobot-chat-system .telegram {
  margin: 1.1px 0;
  width: 24px;
  height: 19.9px;
}
.cryptobot-chat-system .discord {
  margin: 2.2px 0;
  width: 24px;
  height: 17.6px;
}
.cryptobot-chat-system .social-media {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 118px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .content {
  margin-bottom: 17.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  box-sizing: border-box;
}
.cryptobot-chat-system .line-2 {
  margin-bottom: 30px;
  width: 1200px;
  height: 0.7px;
}
.cryptobot-chat-system .text {
  opacity: 0.8;
  margin-right: 11.5px;
  width: 285px;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-menu-18-font-family, 'Outfit');
  font-weight: var(--web-styles-web-menu-18-font-weight, 400);
  font-size: var(--web-styles-web-menu-18-font-size, 18px);
  color: #52849F;
}
.cryptobot-chat-system .publications {
  margin-right: 11.5px;
  width: 108px;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-menu-18-font-family, 'Outfit');
  font-weight: var(--web-styles-web-menu-18-font-weight, 400);
  font-size: var(--web-styles-web-menu-18-font-size, 18px);
  color: #52849F;
}
.cryptobot-chat-system .publications-1 {
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-menu-18-font-family, 'Outfit');
  font-weight: var(--web-styles-web-menu-18-font-weight, 400);
  font-size: var(--web-styles-web-menu-18-font-size, 18px);
  color: #52849F;
}
.cryptobot-chat-system .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 258px;
  box-sizing: border-box;
}
.cryptobot-chat-system .frame-13974 {
  margin: 0 40px 0 38.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  box-sizing: border-box;
}
.cryptobot-chat-system .footer-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  box-sizing: border-box;
}
.cryptobot-chat-system .footer {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 120px 35px 120px;
  width: 1440px;
  box-sizing: border-box;
}
.cryptobot-chat-system .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .container {
  position: absolute;
  top: -219.5px;
  right: -219.6px;
  width: 1499.1px;
  height: 1499.1px;
}
.cryptobot-chat-system .frame {
  position: absolute;
  left: -258px;
  top: -59px;
  width: 1060px;
  height: 1060px;
}
.cryptobot-chat-system .arrow-13 {
  margin-bottom: 5px;
  width: 70px;
  height: 0px;
}
.cryptobot-chat-system .rectangle-70301 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .user-chooses-trading-strategy {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629524 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  margin-bottom: 5px;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .arrow-14 {
  margin-bottom: 5px;
  width: 70px;
  height: 0px;
}
.cryptobot-chat-system .rectangle-70304 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .strategy-1-aggressive-growth {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629527 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .rectangle-70302 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .strategy-2-balanced-approach {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629525 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .rectangle-70305 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .strategy-3-conservative-income {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629528 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .frame-629535 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 879px;
  box-sizing: border-box;
}
.cryptobot-chat-system .arrow-22 {
  margin-bottom: 45px;
  width: 181px;
  height: 118px;
}
.cryptobot-chat-system .arrow-15 {
  margin-bottom: 5px;
  width: 70px;
  height: 0px;
}
.cryptobot-chat-system .rectangle-70303 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .user-customizes-bot-settings {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629526 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: relative;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .container-3 {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 213px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .arrow-28 {
  margin-bottom: 45px;
  width: 181px;
  height: 118px;
}
.cryptobot-chat-system .container-4 {
  display: flex;
  flex-direction: row;
  column-gap: 3px;
  width: 581px;
  box-sizing: border-box;
}
.cryptobot-chat-system .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 879px;
  height: fit-content;
  box-sizing: border-box;
}
.cryptobot-chat-system .arrow-26 {
  transform: rotate(-60.279deg);
  position: absolute;
  left: 147.3px;
  top: 70.9px;
  width: 192.1px;
  height: 104.2px;
}
.cryptobot-chat-system .arrow-27 {
  transform: rotate(-119.721deg);
  position: absolute;
  top: 70px;
  right: 145.8px;
  width: 193.1px;
  height: 105.9px;
}
.cryptobot-chat-system .frame-629536 {
  position: absolute;
  left: 50%;
  top: 973px;
  translate: -50% 0;
  display: flex;
  width: 879px;
  box-sizing: border-box;
}
.cryptobot-chat-system .rectangle-7030 {
  border-radius: 8px;
  background: #1B6382;
  position: absolute;
  top: 8.5px;
  right: 7px;
  width: 199px;
  height: 68px;
}
.cryptobot-chat-system .user-registers-and-connects-account {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  text-align: center;
  overflow-wrap: break-word;
  font-family: var(--web-styles-web-caption-bold-14-font-family, 'Open Sans');
  font-weight: var(--web-styles-web-caption-bold-14-font-weight, 700);
  font-size: var(--web-styles-web-caption-bold-14-font-size, 14px);
  color: #FFFFFF;
}
.cryptobot-chat-system .frame-629523 {
  border-radius: 12px;
  border: 1px dashed #4EDBFA;
  position: absolute;
  left: 50%;
  top: 883px;
  translate: -50% 0;
  width: 213px;
  height: 85px;
}
.cryptobot-chat-system .arrow-29 {
  transform: rotate(-60deg);
  position: absolute;
  left: 402.4px;
  bottom: 1168.1px;
  width: 192.7px;
  height: 131.9px;
}
.cryptobot-chat-system .arrow-36 {
  transform: rotate(-120deg);
  position: absolute;
  right: 376px;
  bottom: 1064.4px;
  width: 311.9px;
  height: 93px;
}
.cryptobot-chat-system {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(115.29deg, #004756 -7.5%, #1C4061 27.38%, #0B2034 86.9%);
  display: flex;
  padding-top: 20px;
  width: 1440px;
  box-sizing: border-box;
}
